# Dependências do Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente do banco de dados SQLite
*.db
*.db-journal

# Configurações locais
.env

# Logs
logs/
*.log
*.tlog
logfile*

# Cache do sistema
.cache/
.tmp/

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Arquivos gerados pelo editor/IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de cobertura de testes
coverage/
*.lcov
.vercel
